<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Add new Goods</title>
</head>

<body>
    <form action="/newbakedgoods" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="color">Price</label>
        <input type="number" name="price" id="price" min="0" />
        <label for="image">Image URL</label>
        <input type="text" name="image" id="image" />
        <input type="submit" value="Add goods" />

    </form>
</body>

</html>