<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Baked Goods List</title>
</head>

<body>
    <h1>
        <%= bakedGood.name %> 's show Page
    </h1>
    <img src=<%=bakedGood.image%>/>
    <p>
        <%=bakedGood.price%>
    </p>
    <a href="/bakedgoods"> Return To Index Page</a>
</body>

</html>